<section class="final-cta" aria-labelledby="final-cta">
  <h2 id="final-cta">
    <span>
      Vous êtes <span class="important-info effect">convaincu</span> ?
    </span>
    <br />
    <span>
      <a
        href="https://calendly.com/marie-delaire-prise-rdv/30min"
        class="call-to-action"
        target="_blank"
        title="Prenez rendez-vous avec Marie Delaire"
      >
        Réservez un appel gratuit
      </a>
    </span>
  </h2>
</section>

<footer>
  <div class="footer-logo">
    <span>Rozardi - © 2025</span>
  </div>
</footer>
