<ng-container *ngIf="testimonialsList$ | async as testimonialsList">
  <div class="container-commentaires"></div>
  <p-carousel
    #carousel
    [value]="testimonialsList"
    [numVisible]="3"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    [circular]="true"
    [showNavigators]="false"
    [autoplayInterval]="3500"
  >
    <ng-template let-commentaire pTemplate="item">
      <div
        class="commentaire"
        [ngStyle]="{
          border: '10px solid ' + commentaire.borderColor,
          height: '80%',
          marginLeft: '10px',
          marginRight: '10px'
        }"
      >
        <img
          [src]="commentaire.photo"
          alt="photo de {{ commentaire.name }}"
          class="img-fluid round-img"
        />
        <div class="info-commentaire">
          <h4>
            {{ commentaire.name }} -
            <span
              [ngStyle]="{ color: commentaire.borderColor }"
              class="important"
            >
              {{ commentaire.company }}
            </span>
          </h4>
          <div class="stars-container">
            <div class="star">
              <img src="assets/etoile.png" class="img-fluid" alt="" />
            </div>
            <div class="star">
              <img src="assets/etoile.png" class="img-fluid" alt="" />
            </div>
            <div class="star">
              <img src="assets/etoile.png" class="img-fluid" alt="" />
            </div>
            <div class="star">
              <img src="assets/etoile.png" class="img-fluid" alt="" />
            </div>
            <div class="star">
              <img src="assets/etoile.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
        <p>{{ commentaire.comment }}</p>
      </div>
    </ng-template>
  </p-carousel>
</ng-container>
