.container-commentaires {
  margin: 50px 15px;
}
.commentaire {
  padding: 20px;
  padding-bottom: 35px;
  margin: 40px 0;
  border-radius: 10px;
}

.commentaire p {
  font-size: 17px;
  line-height: 1.6;
}

.round-img {
  width: 70px;

  border-radius: 50%;
  margin-right: 15px;
  margin-top: -180px;
}

.stars-container {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
}

.star {
  width: 20px;
  height: 20px;
}

.info-commentaire h4 {
  margin-bottom: 8px;
}
