<ng-container *ngIf="listeEtapes$ | async as listeEtapes">
  <div class="container-tous-etape" (mouseleave)="onContainerLeave()">
    <div class="side-container">
      <ng-container *ngFor="let etape of listeEtapes; let i = index">
        <div
          *ngIf="i % 2 == 0"
          class="etape"
          [ngClass]="{
            ouverte: etapeOuverte === i,
            'first-etape':
              i === 0 &&
              !hasExitedOnce &&
              !otherEtapeHovered &&
              !anyEtapeClicked
          }"
          (click)="onEtapeClick(i)"
          (mouseenter)="onEtapeHover()"
          (mouseleave)="onEtapeLeave()"
          data-aos="fade-up"
          [attr.data-aos-delay]="i * 100"
        >
          <span class="title">{{ etape.title }}</span>
          <p class="subtitle">{{ etape.subTitle }}</p>
          <p class="description">{{ etape.description }}</p>
          <span class="see-more">{{
            etapeOuverte !== i ? "En savoir +" : "Fermer"
          }}</span>
        </div>
      </ng-container>
    </div>
    <div class="side-container">
      <ng-container *ngFor="let etape of listeEtapes; let i = index">
        <div
          *ngIf="i % 2 != 0"
          class="etape"
          [ngClass]="{ ouverte: etapeOuverte === i }"
          (click)="onEtapeClick(i)"
          (mouseenter)="onEtapeHover()"
          (mouseleave)="onEtapeLeave()"
          data-aos="fade-up"
          [attr.data-aos-delay]="(i + 1) * 100"
        >
          <span class="title">{{ etape.title }}</span>
          <p class="subtitle">{{ etape.subTitle }}</p>
          <p class="description">{{ etape.description }}</p>
          <span class="see-more">{{
            etapeOuverte !== i ? "En savoir +" : "Fermer"
          }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
