.container-tous-etape {
}

.side-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.etape.ouverte,
.etape.ouverte p {
  background-color: black;
  color: white;
}

.etape {
  padding: 60px 15px 20px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.title {
  font-size: 25px;
  font-weight: 800;
}

.subtitle,
.description {
  font-size: 16px;
}

.etape .description {
  overflow: hidden;
  max-height: 0; /* Initialement caché */
  transition: max-height 0.7s ease-in-out;
}

.etape.ouverte .description {
  max-height: 500px; /* Ajustez cette valeur selon le contenu */
}

.see-more {
  display: block;
  text-align: end;
}
@media (min-width: 768px) {
  .container-tous-etape {
    margin-top: 150px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .etape:hover,
  .etape:hover p {
    background-color: black;
    color: white;
  }

  @keyframes oscillation {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .etape:hover {
    animation: oscillation 0.5s ease-in-out;
  }
}
