/* list-prestations.component.css */
.card-container {
  position: relative;
  margin: 0px;
}

.card {
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transition pour l'ombre */
  background-color: #322947; /* Couleur de fond */
  box-shadow: 10px 10px 0px #322947; /* Ombre simple et nette */
}

.card h3 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: -10px;
  font-weight: 700;
  /* text-transform: uppercase; */
  color: #ffffff; /* Couleur du texte */
}

.card p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: rgb(255, 255, 255);
  letter-spacing: 0.4px;
}

@media (min-width: 768px) {
  .card h3 {
    font-size: 25px;
  }
}
