<ng-container *ngIf="listePrestations$ | async as listePrestations">
  <div *ngFor="let prestation of listePrestations; let i = index">
    <div class="card-container">
      <div
        class="arriere-carte"
        [ngStyle]="{
          transform: getArriereCarteTransform(i)
        }"
      ></div>

      <div
        class="card"
        [ngStyle]="{
          'background-color': colors[i],

          transform:
            'rotate(' + (i === 0 ? '5deg' : i === 1 ? '-5deg' : '3deg') + ')'
        }"
      >
        <h3 [ngStyle]="{ color: colorTitles[i] }">{{ prestation.title }}</h3>

        <p>{{ prestation.description }}</p>
      </div>
    </div>
  </div>
</ng-container>
