<div class="desktop-container">
  <ng-container *ngIf="projectsList$ | async as projectsList">
    <div class="container-btn-filter">
      <!-- Boutons visibles sur les grands écrans (bureau) -->
      <div class="filter-buttons">
        <button
          class="filter-btn"
          [class.active]="selectedIndustry === null"
          (click)="filterProjects(null)"
        >
          Tout
        </button>

        <button
          class="filter-btn"
          *ngFor="let industry of industries$ | async"
          [class.active]="selectedIndustry === industry"
          (click)="filterProjects(industry)"
        >
          {{ industry }}
        </button>
      </div>

      <div class="filter-select">
        <select
          [(ngModel)]="selectedIndustry"
          (change)="filterProjects(selectedIndustry)"
        >
          <option [ngValue]="null">Tout</option>
          <option
            *ngFor="let industry of industries$ | async"
            [ngValue]="industry"
          >
            {{ industry }}
          </option>
        </select>
      </div>
    </div>

    <ng-container *ngFor="let project of projectsList">
      <app-card-project [project]="project"></app-card-project>
    </ng-container>
  </ng-container>
</div>
