.container-btn-filter {
  margin-bottom: 20px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 20px;
}

.spinner {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #fb9100 94%, #0000) top/14.1px
      14.1px no-repeat,
    conic-gradient(#0000 30%, #fb9100);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 14.1px),
    #000 0
  );
  animation: spinner-c7wet2 0.8s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.filter-btn {
  background-color: transparent;
  border: 3px solid var(--tertiary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-transform: capitalize;
  margin-right: 5px;
  font-size: 13px;
  font-weight: 500;
}

.filter-btn:active {
  background-color: var(--tertiary-color);
}

.filter-btn.active {
  background-color: var(--tertiary-color);
}

.filter-select select {
  background-color: transparent;
  border: 3px solid var(--tertiary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 100px;
  transition: background-color 0.2s ease;
  font-size: 14px;
  width: 100%;
}

@media (min-width: 768px) {
  .container-btn-filter {
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .filter-buttons {
    display: flex;
    gap: 10px;
  }

  .filter-select {
    display: none;
  }
}

@media (max-width: 768px) {
  .filter-buttons {
    display: none;
  }

  .filter-select {
    display: block;
  }
}
