.container-question {
  border-bottom: 1px solid var(--secondary-color);
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.question {
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.question h4 {
  margin-bottom: 0;
  margin-top: 0;
}

.signe-question {
  display: inline-block;
  width: 30px;
}

.container-question .reponse {
  overflow: hidden;
  max-height: 0; /* Initialement caché */
  transition: max-height 0.7s ease-in-out;
}

.reponse p {
  font-size: 16px;
}

.container-question.ouverte .reponse {
  max-height: 500px; /* Ajustez cette valeur selon le contenu */
}

@media (min-width: 768px) {
  .container-all-question {
    max-width: 70%;
  }
}
