<ng-container
  *ngIf="listeQuestions$ | async as listeQuestions"
  class="all-questions"
>
  <div class="container-all-question">
    <div
      *ngFor="let question of listeQuestions; let i = index"
      class="container-question"
      [ngClass]="questionOuverte === i ? 'ouverte' : ''"
      (click)="
        questionOuverte !== i ? (questionOuverte = i) : (questionOuverte = null)
      "
    >
      <div class="question">
        <span *ngIf="questionOuverte !== i" class="signe-question">+</span>
        <span *ngIf="questionOuverte === i" class="signe-question">-</span>
        <h4>{{ question.question }}</h4>
      </div>

      <div class="reponse">
        <p>{{ question.answer }}</p>
      </div>
    </div>
  </div>
</ng-container>
