.container-question {
  border-bottom: 1px solid var(--secondary-color);
}

.question {
  color: white;
  display: flex;
  align-items: center;
}

.signe-question {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.container-question .reponse {
  overflow: hidden;
  max-height: 0; /* Initialement caché */
  transition: max-height 0.7s ease-in-out;
}

.container-question.ouverte .reponse {
  max-height: 500px; /* Ajustez cette valeur selon le contenu */
}

@media (min-width: 768px) {
  .container-all-question {
    max-width: 70%;
  }
}
