.side-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.etape.ouverte,
.etape.ouverte p {
  background-color: black;
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.8;
}

.etape {
  padding: 60px 15px 20px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.title {
  font-size: 32px;
  font-weight: 800;
}

.subtitle,
.description {
  font-size: 20px;
  line-height: 1.4;
}

.etape .description {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.7s ease-in-out;
}

.etape.ouverte .description {
  font-size: 20px;
  max-height: 500px;
}

.see-more {
  display: block;
  text-align: end;
  font-size: 15px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .all-steps-container {
    margin-top: 150px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .etape.ouverte .description {
    font-size: 16px;
    line-height: 1.4;
  }

  .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
  }

  .etape.ouverte .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
  }

  .etape.etape.ouverte .subtitle {
    font-size: 16px;
    line-height: 1.4;
  }

  .etape.etape.ouverte .description {
    font-size: 16px;
    line-height: 1.4;
  }
  .subtitle,
  .description {
    font-size: 16px;
    line-height: 1.4;
  }

  .etape:hover,
  .etape:hover p {
    background-color: black;
    color: var(--text-color);
  }

  @keyframes oscillation {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .etape:hover {
    animation: oscillation 0.5s ease-in-out;
  }
}
