<ng-container *ngIf="stepsList$ | async as stepsList">
  <div class="all-steps-container">
    <div class="side-container">
      <ng-container *ngFor="let step of stepsList; let i = index">
        <div
          *ngIf="i % 2 == 0"
          class="etape"
          [ngClass]="{
            ouverte: openStepId === i,
            'first-etape': hoverPristine && i === 0
          }"
          data-aos="fade-up"
          [attr.data-aos-once]="'true'"
          [attr.data-aos-delay]="i * 100"
          (mouseenter)="hoverPristine = false"
          (click)="onCardClick(i)"
        >
          <span class="title">{{ step.title }}</span>
          <p class="subtitle">{{ step.subTitle }}</p>
          <p class="description">{{ step.description }}</p>
          <span class="see-more">{{
            openStepId !== i ? "En savoir +" : "Fermer"
          }}</span>
        </div>
      </ng-container>
    </div>
    <div class="side-container">
      <ng-container *ngFor="let step of stepsList; let i = index">
        <div
          *ngIf="i % 2 != 0"
          class="etape"
          [ngClass]="{ ouverte: openStepId === i }"
          [attr.data-aos-once]="'true'"
          data-aos="fade-up"
          [attr.data-aos-delay]="(i + 1) * 100"
          (mouseenter)="hoverPristine = false"
          (click)="onCardClick(i)"
        >
          <span class="title">{{ step.title }}</span>
          <p class="subtitle">{{ step.subTitle }}</p>
          <p class="description">{{ step.description }}</p>
          <span class="see-more">{{
            openStepId !== i ? "En savoir +" : "Fermer"
          }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
