<ng-container *ngIf="stepsList$ | async as stepsList">
  <div class="container-tous-etape" (mouseleave)="onContainerLeave()">
    <div class="side-container">
      <ng-container *ngFor="let step of stepsList; let i = index">
        <div
          *ngIf="i % 2 == 0"
          class="etape"
          [ngClass]="{
            ouverte: openStepId === i,
            'first-etape':
              i === 0 && !hasExitedOnce && !otherStepHovered && !anyStepClicked
          }"
          (click)="onStepClick(i)"
          (mouseenter)="onStepHover()"
          (mouseleave)="onStepLeave()"
          data-aos="fade-up"
          [attr.data-aos-delay]="i * 100"
        >
          <span class="title">{{ step.title }}</span>
          <p class="subtitle">{{ step.subTitle }}</p>
          <p class="description">{{ step.description }}</p>
          <span class="see-more">{{
            openStepId !== i ? "En savoir +" : "Fermer"
          }}</span>
        </div>
      </ng-container>
    </div>
    <div class="side-container">
      <ng-container *ngFor="let step of stepsList; let i = index">
        <div
          *ngIf="i % 2 != 0"
          class="etape"
          [ngClass]="{ ouverte: openStepId === i }"
          (click)="onStepClick(i)"
          (mouseenter)="onStepHover()"
          (mouseleave)="onStepLeave()"
          data-aos="fade-up"
          [attr.data-aos-delay]="(i + 1) * 100"
        >
          <span class="title">{{ step.title }}</span>
          <p class="subtitle">{{ step.subTitle }}</p>
          <p class="description">{{ step.description }}</p>
          <span class="see-more">{{
            openStepId !== i ? "En savoir +" : "Fermer"
          }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
