/* ========== Variables Globales ========== */
:root {
  --primary-color: #a256f9;
  --tertiary-color: #ff9100;

  --text-color: white;
  --text-inverse-color: black;

  --background-color: radial-gradient(
    circle,
    rgb(58, 32, 103) 0%,
    rgba(15, 2, 33, 1) 74%
  );
  --background-light: white;

  --primary-bg-color: #ff5c83;
  --secondary-bg-color: #b456f0;
  --tertiary-bg-color: #ff9100;

  --border-color: white;
  --hover-color: #e0486f;
  --border-radius: 10px;
  --transition-speed: 0.5s;
}

/* ========== Reset de Base ========== */
* {
  font-family: "Inter Tight", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* ========== Style Global ========== */
body {
  background: var(--background-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
}

h2 {
  font-size: 45px;
}

p {
  font-size: 20px;
  font-weight: 400;
}
.hide-mobile {
  display: none;
}
.desktop-container {
  padding: 0 15px;
}
.important-info {
  color: var(--primary-color);
  font-weight: bold;
}

/* ========== Burger Menu ========== */
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 12px;
  cursor: pointer;
}

.bar {
  height: 2px;
  background-color: var(--text-color);
  width: 100%;
  border-radius: 5px;
}
.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu-mobile nav {
  background-color: #0f0221;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  height: 85%;
  padding-top: 50px;
}

.menu-mobile nav a {
  display: inline-block;
  background-color: #140429;
  margin: 8px;
  width: 92%;
  padding-left: 20px;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 10px;
  font-size: 20px;
}

.menu-mobile .call-to-action {
  margin-top: 30px;
}

.menu-mobile nav a:visited {
  color: white;
}

/* ========== Images ========== */
.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ========== Header ========== */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

/* ========== SECTION HERO ========== */

.hero-img {
  border-radius: 20px;
}
.title-container {
  margin-top: 70px;
  margin-bottom: 40px;
}
.hero-container .title-container h1 {
  font-size: 48px;
  margin-bottom: 30px;
  line-height: 1.1;
}

.hero-container .title-container .container-btn {
  display: inline;
}

/* ========== SLIDER LOGOS ========== */
.logos {
  margin-top: 30px;
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}

.logos-slide figure {
  display: inline;
  margin: 0;
}

.logos-slide img {
  height: 40px;
  margin: 0 50px;
  filter: opacity(50%);
}

/* SECTION SERVICE */

.container-prestations {
  margin-top: 80px;
}

.services {
  margin-bottom: 80px;
}

/* SECTION ETAPES */

.etape:hover,
.etape:hover p {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.etape {
  background-color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition sur les propriétés */
}

.first-etape {
  background-color: var(--primary-color);
  border-color: var(--primary-color) !important;
  color: var(--text-color);
}

.container-all-steps {
  background-color: var(--text-color);
  width: 100%;
  padding: 0 10px 100px 10px;
}

.steps .left h2 {
  padding-top: 100px;
  margin-bottom: 10px;
  font-size: 45px;
}
.steps .left p {
  margin-bottom: 50px;
  line-height: 1.8;
}

/* ========== SECTION COMMENTAIRE ========== */

.commentaires {
  padding-top: 50px;
}

.all-questions {
  margin-top: 50px;
}

.commentaire-header {
  font-size: 20px;
  line-height: 1.8;
}

/* ========== SECTION NUMBER ========== */

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.all-number {
  padding-top: 50px;
}
.all-number h5 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.div1 {
  background-image: url("assets/dsn-conseil-1.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}

.div2 {
  background-image: url("assets/rasta-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-weight: bold;
  font-size: 13px;
  border-radius: 10px;
}

.div3 {
  background-color: var(--tertiary-bg-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
}

.div4 {
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
}

.div5 {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
}

.div6 {
  background-image: url("assets/proximum-formations.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}

.div3 h6,
.div4 h6,
.div5 h6 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

.number {
  font-size: 150px;
  font-weight: 900;
  margin: 10px;
}

.div4 .number {
  color: #b92b4d;
  text-align: start;
}
.div5 .number {
  color: #690ea4;
  text-align: start;
}
.div3 .number {
  color: #fcc23f;
  text-align: start;
}

/* ========== BOUTONS ========== */
.container-btn {
  display: flex;
}
.call-to-action {
  background-color: transparent;
  border: 4px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 15px 25px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.call-to-action:hover {
  animation: borderDistortion 1.2s ease-in-out infinite;
}

/* ========== SECTION FAQ ========== */

.faq {
  margin-top: 100px;
  margin-bottom: 100px;
}

.faq-img {
  display: none;
}

.steps h2,
.steps p {
  color: var(--background-color);
}

/* ========== Témoignages ========== */

.p-carousel-indicator button {
  background-color: #292335;
  border: none;
  margin: 3px;
  height: 15px;
  width: 15px;
  border-radius: 10px;
}
.p-carousel-indicator.p-highlight button {
  background-color: var(--primary-color);
}

.commentaires .commentaires-img {
  display: none;
}

.p-sidebar {
  background-color: #0f0221b1;
}

.p-sidebar-icon {
  background-color: #0f0220;
  padding: 30px;
  margin-top: -18px;
  margin-right: -20px;
  border-radius: 0;
  color: white;
  z-index: 5;
}

.icon1 {
  width: 50px;
  top: 20%;
  right: -4%;
  transform: rotate(15deg);
}
.icon2 {
  width: 50px;

  top: 30%;
  right: 46%;
  transform: rotate(-10deg);
}
.icon3 {
  width: 50px;

  bottom: 36%;
  right: 3%;
  transform: rotate(25deg);
}

/* ========== ANIMATIONS ========== */

@keyframes glitchEffect {
  0% {
    transform: translate(0);
    text-shadow: 0 0 0 transparent;
  }
  15% {
    transform: translate(-2px, 2px) skewX(-10deg);
    text-shadow: -2px 2px 0 rgba(255, 0, 0, 0.8),
      2px -2px 0 rgba(255, 251, 0, 0.8);
  }
  30% {
    transform: translate(2px, -2px) skewX(10deg);
    text-shadow: 2px -2px 0 rgba(255, 0, 0, 0.8),
      -2px 2px 0 rgba(255, 251, 0, 0.8);
  }
  45% {
    transform: translate(-2px, 2px) skewX(-5deg);
    text-shadow: -2px 2px 0 rgba(255, 0, 0, 0.5),
      2px -2px 0 rgba(255, 251, 0, 0.8);
  }
  60% {
    transform: translate(2px, -2px) skewX(5deg);
    text-shadow: 2px -2px 0 rgba(255, 0, 0, 0.5),
      -2px 2px 0 rgba(255, 251, 0, 0.8);
  }
  75% {
    transform: translate(0);
    text-shadow: 0 0 0 transparent;
  }
  100% {
    transform: translate(0);
    text-shadow: 0 0 0 transparent;
  }
}

.effect {
  display: inline-block;
  animation: glitchEffect 2s infinite ease-in-out;
}

@keyframes glitchButton {
  0% {
    transform: translate(0);
    box-shadow: 0 0 0 transparent;
  }
  20% {
    transform: translate(-2px, 1px) skewX(-5deg);
    box-shadow: -2px 1px 0 rgba(255, 0, 0, 0.6),
      2px -1px 0 rgba(255, 251, 0, 0.6);
  }
  40% {
    transform: translate(2px, -1px) skewX(5deg);
    box-shadow: 2px -1px 0 rgba(255, 0, 0, 0.6),
      -2px 1px 0 rgba(255, 251, 0, 0.6);
  }
  60% {
    transform: translate(-1px, 1px) skewX(-3deg);
    box-shadow: -1px 1px 0 rgba(255, 0, 0, 0.4),
      1px -1px 0 rgba(255, 251, 0, 0.4);
  }
  80% {
    transform: translate(1px, -1px) skewX(3deg);
    box-shadow: 1px -1px 0 rgba(255, 0, 0, 0.4),
      -1px 1px 0 rgba(255, 251, 0, 0.4);
  }
  100% {
    transform: translate(0);
    box-shadow: 0 0 0 transparent;
  }
}

@keyframes borderDistortion {
  0% {
    border-color: #b456f0;
    color: #b456f0;
  }
  25% {
    border-color: #fe5b83;
    color: #fe5b83;
  }
  50% {
    /* border-width: 4px; */
    border-color: #b456f0;
    color: #b456f0;
  }
  75% {
    /* border-width: 8px; */
    border-color: #ff9002;
    color: #ff9002;
  }
  100% {
    /* border-width: 4px; */
    border-color: #b456f0;
    color: #b456f0;
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ========== RESPONSIVE ========== */

@media (min-width: 768px) {
  .desktop-container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .services {
    position: relative;
  }

  .decor-icon {
    position: absolute;
    width: 40px;
    height: auto;
    opacity: 0.7;
    z-index: 10;
  }

  .icon1 {
    top: 20%;
    right: -5%;
    transform: rotate(15deg);
  }
  .icon2 {
    top: 30%;
    right: 46%;
    transform: rotate(-10deg);
  }
  .icon3 {
    bottom: 36%;
    right: 0%;
    transform: rotate(25deg);
  }

  .hero-container .title-container h1 {
    margin-bottom: 70px;
    font-size: 60px;
  }
  .menu-desktop nav {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .menu-desktop .call-to-action {
    font-weight: 500;
  }

  .menu-desktop nav a {
    font-size: 16px;
    color: white;
    font-weight: 300;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .menu-desktop nav a:not(.call-to-action) {
    padding-bottom: 5px;
  }

  .menu-desktop nav a:not(.call-to-action)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 2px;
    background-color: var(--tertiary-bg-color);
    transition: width 0.5s ease, background-color 1s ease;
  }

  .menu-desktop nav a:not(.call-to-action):hover::after {
    width: 100%;
    background-color: var(--primary-bg-color);
    transition: width 1s ease, background-color 0.5s ease;
  }

  .menu-desktop nav a:not(.call-to-action):hover::after {
    background-color: var(--primary-color);
    transition: width 1s ease, background-color 0.5s ease;
  }

  .commentaires {
    display: flex;
    flex-direction: column;
  }

  .commentaires h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
  }

  .commentaire-header {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .header-bar {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .container-img {
    width: 85%;
  }

  .container-all-steps {
    display: flex;
  }
  .container-all-steps .left {
    width: 30%;
    margin-right: 100px;
  }

  .container-steps {
    width: 70%;
    display: flex;
  }

  .steps .left h2 {
    padding-top: 110px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 60px;
    line-height: 1.1;
  }

  p {
    font-size: 20px;
    line-height: 1.4;
  }

  .parent {
    grid-template-columns: repeat(4, 1fr);
  }

  .square {
    width: 301px;
    aspect-ratio: 1/1;
  }

  .div1 {
    height: 500px;
  }

  .div6 {
    height: 500px;
  }

  .div2 {
    height: 301px;
  }

  .number {
    font-size: 150px;
    font-weight: 900;
    margin-top: -40px;
  }

  .div1 {
    grid-area: 1 / 3 / 4 / 5;
  }

  .div2 {
    grid-area: 4 / 3 / 5 / 4;
  }

  .div3 {
    grid-area: 4 / 4 / 5 / 5;
  }

  .div4 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .div5 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .div6 {
    grid-area: 2 / 1 / 5 / 3;
  }

  .services {
    max-width: 1400px;
    display: flex;
    margin: 150px auto 30px;
  }

  .services .left {
    width: 50%;
    padding-right: 100px;
  }

  .services .left p {
    font-size: 20px;
    line-height: 1.8;
  }

  .services .left .container-btn {
    margin-top: 30px;
  }

  .services h2 {
    font-size: 45px;
  }

  .services .call-to-action {
    margin-top: 50px;
  }

  .full-width-white {
    background-color: var(--text-color);
  }

  .steps {
    display: flex;
    margin: 0 auto;
  }

  .hero-container {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
  }

  .title-container p,
  a {
    display: block;
  }

  .title-container span {
    font-size: 60px;
  }

  .title-container p {
    font-size: 30px;
    margin-bottom: 60px;
    margin-top: -15px;
  }

  .title-container a {
    margin-top: 50px;
  }

  .title-container {
    margin-bottom: 80px;
  }

  .all-number {
    padding: 70px 0 200px 0;
  }

  .all-number h5 {
    margin-top: -30px;
    margin-bottom: 0px;
    font-size: 50px;
  }

  .div3 h6,
  .div4 h6,
  .div5 h6 {
    font-size: 16px;
    margin-top: 0px;
  }

  .container-btn {
    display: inline-block;
  }

  .hero-container .container-btn {
    margin-top: 100px;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

  .call-to-action {
    display: inline;
  }

  .faq {
    margin-top: 250px;
    margin-bottom: 100px;
    position: relative;
  }

  .faq h2 {
    font-size: 50px;
  }

  .faq-img {
    display: block;
    position: absolute;
    right: 0px;
    top: -162px;
    width: 325px;
    height: 50px;
  }

  .commentaires.intro {
    padding-top: 200px;
    position: relative;
  }

  .commentaires .commentaires-img {
    display: block;
    display: block;
    position: absolute;
    left: 175px;
    top: 70px;
    width: 250px;
    height: 50px;
  }
}
