<div class="desktop-container">
  <header class="header-bar">
    <div class="container-logo">
      <h3>Rozardi</h3>
    </div>
    <div
      class="burger hide-desktop"
      (click)="toggleMenu()"
      aria-label="Ouvrir le menu de navigation"
      [attr.aria-expanded]="menuVisible ? 'true' : 'false'"
      aria-controls="menu-mobile"
    >
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="hide-mobile menu-desktop">
      <nav aria-label="Navigation principale">
        <a
          *ngFor="let link of menuLinks"
          [href]="link.href"
          [attr.target]="link.isExternal ? '_blank' : null"
          [attr.rel]="link.isExternal ? 'noopener noreferrer' : null"
          [ngClass]="link.class"
        >
          {{ link.label }}
        </a>
      </nav>
    </div>
  </header>
</div>
<p-sidebar [(visible)]="menuVisible" [fullScreen]="true">
  <div class="menu-mobile">
    <nav aria-label="Menu mobile">
      <a
        *ngFor="let link of menuLinks"
        [href]="link.href"
        [attr.target]="link.isExternal ? '_blank' : null"
        [attr.rel]="link.isExternal ? 'noopener noreferrer' : null"
        [ngClass]="link.class"
      >
        {{ link.label }}
      </a>
    </nav>
  </div>
</p-sidebar>

<div class="desktop-container">
  <section class="hero-container">
    <div class="title-container">
      <h1
        data-aos="fade-up"
        data-aos-duration="500"
        [attr.data-aos-once]="'true'"
        class="title"
      >
        Je développe des
        <span
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="500"
          [attr.data-aos-once]="'true'"
        >
          <span class="important-info effect">solutions web</span> qui allient
          design
        </span>
        <span
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="1000"
          [attr.data-aos-once]="'true'"
        >
          et efficacité
        </span>
      </h1>

      <div
        class="container-btn"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="800"
        [attr.data-aos-once]="'true'"
      >
        <a
          href="https://calendly.com/marie-delaire-prise-rdv/30min"
          class="call-to-action"
          target="_blank"
          >Réservez un appel gratuit</a
        >
      </div>
    </div>

    <div class="container-img">
      <img
        src="assets/img-hero.png"
        loading="lazy"
        alt="Image illustration application"
        class="img-fluid hero-img"
      />
    </div>
  </section>
</div>

<section class="logos" #logos aria-label="Logos des entreprises partenaires">
  <div class="logos-slide" #logosSlide role="list">
    <figure role="listitem">
      <img
        src="assets/logo-proximum.png"
        alt="Logo de l'entreprise Proximum, spécialisée dans l'accompagnement des collectivités territoriales et des services de l'État en matière de formations des agents et des élus"
        loading="lazy"
      />
    </figure>
    <figure role="listitem">
      <img
        src="assets/logo-comint.png"
        alt="Logo de l'entreprise Co'mint, accompagnant les managers pour développer leurs compétences managériales"
        loading="lazy"
      />
    </figure>
    <figure role="listitem">
      <img
        src="assets/novitoit.png"
        alt="Logo de l'entreprise Novitoit, spécialisée dans la construction et la rénovation de charpentes, couvertures, zinguerie, aménagement de combles et installation de fenêtres de toit à Bordeaux"
        loading="lazy"
      />
    </figure>
    <figure role="listitem">
      <img
        src="assets/formaxis-logo-couleur.png"
        alt="Logo de l'entreprise Formaxis, agence de digital learning spécialisée dans la conception et la réalisation de contenu pédagogique digital"
        loading="lazy"
      />
    </figure>
    <figure role="listitem">
      <img
        src="assets/synapse-logo.webp"
        alt="Logo de l'entreprise Synapse, alliant intelligence artificielle et expertise médicale pour proposer des solutions de prescriptions innovantes et sûres"
        loading="lazy"
      />
    </figure>
    <figure role="listitem">
      <img
        src="assets/ap.png"
        alt="Logo de l'entreprise Artistic Production, agence spécialisée dans l'administration et la production de spectacles"
        loading="lazy"
      />
    </figure>
    <figure role="listitem">
      <img
        src="assets/lp.png"
        alt="Logo de l'entreprise LP Conseil, partenaire pour le développement RH à travers le coaching, la formation, le management et les conseils en ressources humaines sur toute la France"
        loading="lazy"
      />
    </figure>
    <figure role="listitem">
      <img
        src="assets/groupe-vb.png"
        alt="Logo de l'entreprise Groupe VB, incubateur de compétences spécialisé dans le développement professionnel"
        loading="lazy"
      />
    </figure>
  </div>
</section>

<div class="desktop-container">
  <section class="services" aria-labelledby="services-title" id="services">
    <img src="assets/icon-7.png" class="decor-icon icon1 hide-mobile" alt="" />
    <img src="assets/icon-6.png" class="decor-icon icon2 hide-mobile" alt="" />
    <img src="assets/icon-3.png" class="decor-icon icon3 hide-mobile" alt="" />

    <div class="left">
      <h2
        id="services-title"
        data-aos="fade-up"
        data-aos-duration="500"
        [attr.data-aos-once]="'true'"
      >
        <span
          data-aos="fade-up"
          data-aos-duration="500"
          [attr.data-aos-once]="'true'"
        >
          Des <span>solutions</span>
        </span>
        <br />
        <span
          data-aos="fade-up"
          data-aos-duration="500"
          data-aos-delay="200"
          [attr.data-aos-once]="'true'"
          class="important-info"
        >
          sur mesure
        </span>
        <span
          data-aos="fade-up"
          data-aos-duration="800"
          data-aos-delay="300"
          [attr.data-aos-once]="'true'"
        >
          adaptées à vos besoins
        </span>
      </h2>

      <p>
        Je m'appelle Marie et depuis 6 ans, j'accompagne les entreprises dans la
        création de solutions digitales sur mesure. Que ce soit un site web pour
        présenter votre activité ou un logiciel métier pour optimiser votre
        organisation, mon objectif est de concevoir des outils efficaces,
        évolutifs et parfaitement adaptés à vos besoins. Avec Rozardi, je mets à
        votre service mon expertise technique et créative pour donner vie à vos
        idées !
      </p>

      <div class="container-btn">
        <a
          href="https://calendly.com/marie-delaire-prise-rdv/30min"
          class="call-to-action"
          target="_blank"
          title="Prenez rendez-vous avec Marie Delaire"
        >
          Réservez un appel gratuit
        </a>
      </div>
    </div>

    <div class="container-prestations">
      <app-list-services></app-list-services>
    </div>
  </section>
</div>

<div class="desktop-container">
  <section class="all-number" id="realisations">
    <div class="parent">
      <div
        class="div1"
        data-aos="fade-in"
        data-aos-duration="600"
        [attr.data-aos-once]="'true'"
        aria-hidden="true"
      ></div>
      <div
        class="div2 square"
        data-aos="slide-up"
        data-aos-duration="800"
        data-aos-delay="200"
        [attr.data-aos-once]="'true'"
        aria-hidden="true"
      ></div>
      <div
        class="div3 square"
        data-aos="slide-up"
        data-aos-duration="800"
        data-aos-delay="400"
        [attr.data-aos-once]="'true'"
        aria-labelledby="clients-title"
      >
        <p class="number" id="clients-title" aria-label="Nombre de clients">
          12
        </p>
        <h5>Clients</h5>
        <h6>
          Des projets réussis grâce à des solutions adaptées à leurs besoins
        </h6>
      </div>
      <div
        class="div4 square"
        data-aos="zoom-in"
        data-aos-duration="600"
        data-aos-delay="600"
        [attr.data-aos-once]="'true'"
        aria-labelledby="projects-title"
      >
        <p class="number" id="projects-title" aria-label="Nombre de projets">
          20
        </p>
        <h5>Projets</h5>
        <h6>
          Sites web et des applications métier sur mesure pour des besoins
          variés
        </h6>
      </div>
      <div
        class="div5 square"
        data-aos="slide-up"
        data-aos-duration="600"
        data-aos-delay="600"
        [attr.data-aos-once]="'true'"
        aria-labelledby="experience-title"
      >
        <p
          class="number"
          id="experience-title"
          aria-label="Années d'expérience"
        >
          6
        </p>
        <h5>Ans</h5>
        <h6>Une expérience solide dans la création de solutions digitales</h6>
      </div>
      <div
        class="div6"
        data-aos="fade-in"
        data-aos-duration="600"
        data-aos-delay="700"
        [attr.data-aos-once]="'true'"
        aria-hidden="true"
      ></div>
    </div>
  </section>
</div>

<div class="full-width-white" id="deroule-projet">
  <div class="desktop-container">
    <section class="steps" aria-labelledby="process-title">
      <section class="container-all-steps">
        <div class="left">
          <h2
            id="process-title"
            data-aos="fade-up"
            data-aos-duration="500"
            [attr.data-aos-once]="'true'"
          >
            Un processus
            <span
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="200"
              [attr.data-aos-once]="'true'"
            >
              <span class="important-info">clair et fluide</span>
            </span>
            <span
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-delay="500"
              [attr.data-aos-once]="'true'"
            >
              pour donner vie
            </span>
            <span
              data-aos="zoom-in"
              data-aos-duration="800"
              data-aos-delay="800"
              [attr.data-aos-once]="'true'"
            >
              <span>à vos idées</span>
            </span>
          </h2>

          <p>
            La création de sites web et d'applications métier sur mesure
            nécessite une expertise à chaque étape. Je vous accompagne de la
            conception à la mise en ligne, en veillant à ce que chaque phase du
            projet soit parfaitement adaptée à vos besoins.
          </p>

          <div class="hide-mobile">
            <a
              href="https://calendly.com/marie-delaire-prise-rdv/30min"
              class="call-to-action light"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Réservez un appel gratuit pour discuter de votre projet"
              title="Réservez un appel gratuit"
            >
              Réservez un appel gratuit
            </a>
          </div>
        </div>

        <div class="container-steps">
          <app-list-steps aria-labelledby="steps-list-title"></app-list-steps>
        </div>
      </section>
    </section>
  </div>
</div>

<div class="desktop-container">
  <section
    class="commentaires intro"
    id="avis"
    aria-labelledby="comments-title"
  >
    <h2 id="comments-title">
      <span
        data-aos="fade-up"
        data-aos-duration="600"
        data-aos-easing="ease-in-out"
        [attr.data-aos-once]="'true'"
      >
        Ce sont <span class="important-info">eux</span> qui
      </span>
      <br />
      <span
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="200"
        data-aos-easing="ease-in-out"
        [attr.data-aos-once]="'true'"
      >
        en parlent le mieux
      </span>
    </h2>

    <div class="commentaires-img">
      <img src="assets/icon-arc.png" class="img-fluid" alt="" />
    </div>

    <div class="container-commentaires">
      <app-list-testimonials></app-list-testimonials>
    </div>
  </section>
  <section class="faq" id="faq" aria-labelledby="faq-title">
    <h2 id="faq-title">
      <span
        data-aos="fade-up"
        data-aos-duration="700"
        data-aos-easing="ease-in-out"
        [attr.data-aos-once]="'true'"
      >
        Je réponds à
      </span>
      <span
        class="important-info"
        data-aos="fade-up"
        data-aos-duration="700"
        data-aos-delay="300"
        data-aos-easing="ease-in-out"
        [attr.data-aos-once]="'true'"
      >
        <span>vos questions</span>
      </span>
      <br />
      <span
        data-aos="fade-up"
        data-aos-duration="700"
        data-aos-delay="500"
        data-aos-easing="ease-in-out"
        [attr.data-aos-once]="'true'"
      >
        les plus fréquentes
      </span>
    </h2>
    <p>
      Si vous avez d’autres questions, vous pouvez également me contacter par
      mail
      <a class="important-info" href="mailto:contact@rozardi.com"
        >contact&#64;rozardi.com</a
      >
    </p>

    <div class="all-questions"><app-list-questions></app-list-questions></div>
    <div class="faq-img">
      <img src="assets/icon-2.png" class="img-fluid" alt="" />
    </div>
  </section>
</div>
<footer>
  <div class="footer-logo">
    <h6>Rozardi - © 2025</h6>
  </div>
</footer>
