<div class="desktop-container">
  <header class="header-bar">
    <div class="container-logo">
      <h3>Rozardi</h3>
    </div>
    <div class="burger hide-desktop" (click)="menuVisible = !menuVisible">
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="hide-mobile menu-desktop">
      <nav>
        <a href="#services">Services</a>
        <a href="#realisations">Réalisations</a>
        <a href="#deroule-projet">Déroulé d'un projet</a>
        <a href="#avis">Avis clients</a>
        <a href="#faq">FAQ</a>
        <a class="call-to-action">Réservez un appel</a>
      </nav>
    </div>
  </header>
</div>
<p-sidebar [(visible)]="menuVisible" [fullScreen]="true">
  <div class="menu-mobile">
    <nav>
      <a href="">Services</a>
      <a href="">Réalisations</a>
      <a href="">A propos</a>
      <a href="">Contact</a>
      <a class="call-to-action">Réservez un appel</a>
    </nav>
  </div>
</p-sidebar>
<div class="desktop-container">
  <div class="hero-container">
    <div class="title-container intro">
      <h1 data-aos="fade-up" data-aos-duration="500" class="title">
        <span> Je développe des </span>

        <span data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
          <span class="info-importante">solutions web </span> qui allient design
        </span>
        <span data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
          et efficacité
        </span>
      </h1>

      <div
        class="container-btn"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="800"
      >
        <a class="call-to-action">Réservez un appel</a>
      </div>
    </div>

    <div class="container-img">
      <img
        src="https://cdn.prod.website-files.com/6672ab24c3487ec077010551/677fa037b3da216cf772423e_hero_image-p-500.avif"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
</div>

<section class="logos" #logos>
  <div class="logos-slide" #logosSlide>
    <img src="assets/logo-proximum.png" alt="" />
    <img src="assets/logo-comint.png" alt="" />
    <img src="assets/novitoit.png" alt="" />
    <img src="assets/formaxis-logo-couleur.png" alt="" />
    <img src="assets/synapse-logo.webp" alt="" />
    <img src="assets/ap.png" alt="" />
    <img src="assets/lp.png" alt="" />
    <img src="assets/groupe-vb.png" alt="" />
  </div>
</section>

<div class="desktop-container">
  <section class="services">
    <div class="left">
      <!-- Titre avec une animation fade-up ou autre -->
      <h2
        data-aos="fade-up"
        data-aos-duration="500"
        [attr.data-aos-once]="'true'"
      >
        <span
          data-aos="fade-up"
          data-aos-duration="800"
          [attr.data-aos-once]="'true'"
        >
          Des <span class="info-importante">solutions</span>
        </span>
        <br />
        <span
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="500"
          [attr.data-aos-once]="'true'"
        >
          sur mesure adaptées à
        </span>
        <span
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="1000"
          [attr.data-aos-once]="'true'"
        >
          vos besoins
        </span>
      </h2>

      <!-- Le reste des éléments sans animation -->
      <p>
        Je m’appelle Marie et ma mission est d’accompagner les entreprises dans
        la création de solutions digitales sur mesure. Mon objectif est de
        concevoir des projets efficaces, impactants et évolutifs, parfaitement
        adaptés à vos besoins. Avec Rozardi, je vous offre une expertise
        technique et créative pour réaliser vos projets digitaux.
      </p>

      <div class="container-btn" id="services">
        <a class="call-to-action">Réservez un appel</a>
      </div>
    </div>

    <div class="container-prestations">
      <app-list-prestations></app-list-prestations>
    </div>
  </section>

  <section class="hide-desktop">
    <div class="container-btn">
      <a class="call-to-action service-call-to-action">Réservez un appel</a>
    </div>
  </section>
</div>

<div class="desktop-container">
  <section class="all-number" id="realisations">
    <div class="parent">
      <!-- Première brique avec un fade-in pour démarrer en douceur -->
      <div
        class="div1"
        data-aos="fade-in"
        data-aos-duration="600"
        [attr.data-aos-once]="'true'"
      ></div>

      <!-- Deuxième brique avec un slide-up, mais plus lente et avec un léger délai -->
      <div
        class="div2 square"
        data-aos="slide-up"
        data-aos-duration="800"
        data-aos-delay="200"
        [attr.data-aos-once]="'true'"
      ></div>

      <!-- Troisième brique, elle slide-up avec un délai plus long -->
      <div
        class="div3 square"
        data-aos="slide-up"
        data-aos-duration="800"
        data-aos-delay="400"
        [attr.data-aos-once]="'true'"
      >
        <p class="number">12</p>
        <h5>Clients</h5>
        <h6>
          Des projets réussis grâce à des solutions adaptées à leurs besoins
        </h6>
      </div>

      <!-- Quatrième brique avec effet zoom-in pour apporter du dynamisme -->
      <div
        class="div4 square"
        data-aos="zoom-in"
        data-aos-duration="600"
        data-aos-delay="600"
        [attr.data-aos-once]="'true'"
      >
        <p class="number">20</p>
        <h5>Projets</h5>
        <h6>
          Sites web et des applications métier sur mesure pour des besoins
          variés
        </h6>
      </div>

      <!-- Cinquième brique avec un slide-up, et encore un délai pour continuer l'effet -->
      <div
        class="div5 square"
        data-aos="slide-up"
        data-aos-duration="800"
        data-aos-delay="800"
        [attr.data-aos-once]="'true'"
      >
        <p class="number">6</p>
        <h5>Ans</h5>
        <h6>Une expérience solide dans la création de solutions digitales</h6>
      </div>

      <!-- Dernière brique avec fade-in pour finir en douceur -->
      <div
        class="div6"
        data-aos="fade-in"
        data-aos-duration="600"
        data-aos-delay="1000"
        [attr.data-aos-once]="'true'"
      ></div>
    </div>
  </section>
</div>

<div class="full-width-white" id="deroule-projet">
  <div class="desktop-container" style="background-color: white">
    <section class="steps">
      <section class="container-all-steps">
        <div class="left">
          <h2
            data-aos="fade-up"
            data-aos-duration="500"
            [attr.data-aos-once]="'true'"
          >
            Un processus
            <span
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="200"
              [attr.data-aos-once]="'true'"
            >
              <span class="info-importante">clair et fluide</span>
            </span>
            <span
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="500"
              [attr.data-aos-once]="'true'"
            >
              pour donner vie
            </span>
            <span
              data-aos="zoom-in"
              data-aos-duration="1000"
              data-aos-delay="800"
              [attr.data-aos-once]="'true'"
            >
              <span>à vos idées</span>
            </span>
          </h2>

          <p>
            La création de solutions digitales professionnelles nécessite une
            expertise à chaque étape. Je vous accompagne de la conception à la
            mise en ligne, en assurant que chaque phase du projet soit
            parfaitement adaptée à vos besoins.
          </p>
          <div class="hide-mobile">
            <a class="call-to-action light">Réservez un appel</a>
          </div>
        </div>
        <div class="container-steps">
          <app-list-etapes style="width: 100%"></app-list-etapes>
        </div>
      </section>
    </section>
  </div>
</div>

<div class="desktop-container">
  <section class="commentaires intro" id="avis">
    <h2>
      <span
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        [attr.data-aos-once]="'true'"
      >
        Ce sont <span class="info-importante">eux</span> qui
      </span>
      <br />
      <span
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="200"
        data-aos-easing="ease-in-out"
        [attr.data-aos-once]="'true'"
      >
        en parlent le mieux
      </span>
    </h2>

    <div class="commentaires-img">
      <img src="assets/icon-arc.png" class="img-fluid" alt="" />
    </div>

    <div class="container-commentaires">
      <app-list-commentaires style="max-width: 100%"></app-list-commentaires>
    </div>
  </section>
  <section class="faq" id="faq">
    <h2>
      <span
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in-out"
        [attr.data-aos-once]="'true'"
      >
        Je réponds à
      </span>
      <span
        class="info-importante"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-delay="300"
        data-aos-easing="ease-in-out"
        [attr.data-aos-once]="'true'"
      >
        <span>questions</span>
      </span>
      <br />
      <span
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-delay="500"
        data-aos-easing="ease-in-out"
        [attr.data-aos-once]="'true'"
      >
        les plus fréquentes
      </span>
    </h2>

    <div class="all-questions"><app-list-questions></app-list-questions></div>
    <div class="faq-img">
      <img src="assets/icon-2.png" class="img-fluid" alt="" />
    </div>
  </section>
</div>
<footer>
  <div class="footer-logo">
    <h6>Rozardi</h6>
  </div>
</footer>
