.container-prestations {
  position: relative;
}

.container-prestations img {
  position: absolute;
  top: 1px;
  right: 10px;
  width: 150px;
  z-index: -3;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin: 50px 0 0px 0;
}

.footer-logo span {
  margin-bottom: 15px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .container-prestations {
    margin-top: 20px;
    width: 50%;
  }
  .container-prestations img {
    top: -70px;
    right: -10px;
  }

  .container-logo h3 {
    font-size: 30px;
  }
}
